{% extends 'web/base.html' %}

{% load static %}

{% block content %}

<section class="py-5">
    <div class="container">
      <h1>{{ category.name }}</h1>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row cat-detail">
            {% for product in products %}
                <div class="col-md-4">
                    {% if product.category == category %}
                    <a href="{{ product.slug }}">
                    <img src="{{ product.image.url }}">
                    <p style="padding-top: 15px;">{{ product.name }}</p>
                    </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}