{% extends 'web/base.html' %}

{% load static %}

{% block content %}

<section class="py-5">
    <div class="container">
      <h1 style="margin-bottom: 40px;">Документы</h1>
    </div>
    <div class="container" align="center">
        <p><img width="525" height="720" src="{% static 'documents/sert.jpg' %}" alt=""></p>
        <p><img width="525" height="720" src="{% static 'documents/ПСП-М8В1.jpg' %}" alt=""></p>
        <p><img width="525" height="720" src="{% static 'documents/ПСП-М10Г2к1.jpg' %}" alt=""></p>
        <p><img width="525" height="720" src="{% static 'documents/ПСП-М10Дм1.jpg' %}" alt=""></p>
    </div>
</section>

{% endblock %}