{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<section class="py-5">
    <div class="container">

      <h1>О КОМПАНИИ</h1>
<!--      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
      <p>Общество с ограниченной ответственностью «Перитон» — это производитель качественной автохимии и в
        настоящее время является одним из лидеров среди российских компаний по   производству охлаждающих,
        смазочных, тормозных и стеклоомывающих жидкостей.</p>
      </div>
  </section>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>Производство моторных масел высокого качества</h1>
<!--      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
      <p>Для получения более подробной информации о доставке и по всем вопросам, связанным с ассортиментом продукции,
        можно обращаться к нашим специалистам по телефону, указанному в контактах или отправить  нам на электронную
        почту mail@oooperiton.ru запрос на интересующий Вас продукт с учетом всех условий поставки.</p>
    </div>
<!--    <div class="py-5 bg-image-full" style="background-image: url({% static 'img/lubrication-AdobeStock_228089326.jpg' %});">-->
<!--    &lt;!&ndash; Put anything you want here! There is just a spacer below for demo purposes! &ndash;&gt;-->
<!--    <div style="height: 200px;"></div>-->
<!--  </div>-->
  </section>
{% endblock %}
