{% extends 'web/base.html' %}

{% load static %}

{% block content %}

<section class="py-5">
    <div class="container">
      <h1>{{ product.name }}</h1>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <img src="{{ product.image.url }}" width="270" height="270" style="float: left; padding-right: 15px;">
        <p>Характеристики</p>
        <h4 style="padding-top: 55px;">Описание:</h4>
        <p>{{ product.description }}"</p>
    </div>
</section>

{% endblock %}