{% extends 'web/base.html' %}

{% load static %}

{% block content %}

<section class="py-5">
    <div class="container">
        <h1>{{ product.name }}</h1>
        <div class="row product-card">
            <div class="col-md-4">
                <img src="{{ product.image.url }}">
            </div>
            <div class="col-md-8">
                <h4 class="characteristic">Характеристики</h4>
                {% autoescape off %}
                {{ product.characteristics }}
                {% endautoescape %}
            </div>
        </div>
        <h4 class="description">Описание:</h4>
        <p>{{ product.description }}</p>
        <hr>
        <h4 class="price">Запросить цену</h4>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Отправить</button>
        </form>
    </div>
</section>

{% endblock %}