/* Шапка */

.header{
    list-style: none;
    color: white;
    background-color: #4682B4;
    font-size: 20px;
    padding: 0 0 0 5%;
    margin: 0 10px 0 10px;
    font-family: monospace;
    border-radius: 10px;
}

.header nav {
    display: block;
    margin: 0 auto 30px;

}

.header a{
    padding: 1em;
/*    color: bisque;*/
    color: white;
    text-decoration-line: none;
}

.header a:hover{
    color: coral;
    text-decoration-line: none;
}

.header ul{
    padding: 1em 0;
}

.header li{
    display: inline;
}

.header input, p{
    float: right;
    margin: 0 1em 0 0;
}

.header img{
    float: right;
    margin: 5px 2em 0 0;
}

/* Контент */

.content{
    width: 67%;
    margin: 40px 0 250px 26%;
    padding: 0 1em 1em 1em;
}

.content h1{
    font-family: monospace;
    padding: 0 0 0 5%;
    font-size: 25px;
}

.content section{
    background-color: #f5f6ff;
    margin: 20px 0 0 0%;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.content img{
    text-align: center;
    color: 666;
}

/* Боковое меню */

.left-nav{
    width: 20%;
    margin: 50px 10px 100px 5%;
    float: left;
    font-family: monospace;
    font-size: 18px;
}

.left-nav a{
    color: #0d1666;
    text-decoration-line: none;
}

.left-nav a:hover{
    color: blue;
    text-decoration-line: none;
}

.left-nav ul{
    background-color: #e0e0e0;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.left-nav li{
    margin: 0 0 10px 0;
    display: block;
    padding: 0;
}

/* Подвал */

.footer{
    background-color: #4682B4;
    color: bisque;
    font-family: monospace;
    font-size: 13px;
    margin: 20% 0 0 0;
    padding: 30px 0 50px 80px;
/*    border-radius: 10px;*/
}